body.constrgen--active .constrgen__indicator{
    font-family: sans-serif;
    text-transform: uppercase;
    background: #19bbf1;
    color: #fff;
    position: fixed;
    right: 14px;
    top: 14px;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    width: 87px;
    z-index: 99;
    border-radius: 3px;
    cursor: default;
}

body.constrgen--active .constrgen__overlay{
   background: #f4433655 !important;
   background-color: #f4433655 !important;
   outline:#f44336 dashed 1px !important;
   color: #000 !important;
   opacity: 1 !important;
}

body.constrgen--active .constrgen__textNode:not(.constrgen__indicator):not([data-constrgennoundo]):hover {
    outline: #f44336 solid 1px !important;
}

body.constrgen--active .constrgen__textNode:not(.constrgen__indicator):not([data-constrgennoundo]) {
    cursor: copy;
}

body.constrgen--active .constrgen__limitedText{
    background: #94cf96 !important;
    background-color: #94cf96 !important;
    outline:#4caf50 dashed 1px !important;
    color: #000 !important;
    opacity: 1 !important;
}