.continuous-string-active {
    cursor: crosshair !important;
}

.continuous-string-active * :hover{
    outline: 1px solid #f44336;
}

.continuous-string-active-indicator{
    text-transform: uppercase;
    background: #f44336;
    color: #fff;
    position: fixed;
    right: 14px;
    top: 14px;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 7px;
    z-index: 99;
    border-radius: 4px;
}